.header-info {
  @media only screen and (max-width: 64em) {
    text-align: center !important;
    line-height: 2rem !important;
    padding-bottom: 3rem;
  }
  background-color: #2b2b2b;
  color: #fff;
  .info {
    display: grid;
    justify-content: center;
    .title {
      text-transform: uppercase;
      font-size: 13px;
      color: #396872;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 1rem;
    }
    .subtitle {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .cpf {
      font-size: 13px;
    }
  }
}
