@import "../../scss/variables.scss";

.card-brand {
  height: 384px;
  .card-body {
    padding-bottom: 0px;
    .top-intenes-de-com {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.1px;
      color: $black-87;
    }
    .number {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.1px;
      text-align: center;
      color: $black-87;
    }
    table {
      tr:first-child td {
        border-top: none;
      }
    }
  }
  .col-number {
    text-align: right;
  }
}
