@import "../../scss/variables.scss";

.card-new-customer {
  min-height: 759px;
  .card-body {
    padding: 0px;
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      border: none;
      background-color: transparent;
    }
    .nav-tabs {
      border-bottom: 1px solid;
      border-color: rgba(0, 0, 0, 0.12);
    }
    .nav-link {
      padding: 0.98rem 1rem;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
      color: $black-38;
      text-transform: uppercase;
      &.active {
        color: $blue-violet;
        border-bottom: 1px solid $blue-violet !important;
      }
    }
    .tab-content {
      padding: 0.75rem 1.25rem;
    }
  }
  .card-footer {
    background-color: $ice-blue;

    .btn-save {
      width: 150px;
      height: 36px;
      border-radius: 4px;
      background-color: $blue-violet;
      border-color: $blue-violet;
      text-transform: uppercase;
      font-family: "Inter", sans-serif;
      &:hover {
        color: #fff;
        background-color: #2a1ab9;
        border-color: #2819ae;
      }
    }
    .btn-cancel {
      width: 77px;
      height: 16px;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
      color: $blue-violet;
      text-transform: uppercase;
    }
  }
}
