body {
  // background-color: #fffced;
  font-family: "Poppins", sans-serif;
  .navbar {
    @media only screen and (max-width: 64em) {
      padding-bottom: 1rem;
      text-align: center;
      .nav {
        flex-direction: column;
      }
    }
    background-color: #1f1f1f !important;
    padding-bottom: 0px;
    .nav-item {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      padding: 6px;
      .nav-link {
        margin-top: 5px;
        color: white !important;
        font-weight: 500;
        &:hover {
          color: #396872 !important;
        }
      }
      &.active {
        border-bottom: 5px solid #396872;
      }
    }
  }
  .Toastify__toast--success {
    background: #396872;
  }
}
