$white: #e0e0e0;
$white-two: #ffffff;

$black-87: rgba(0, 0, 0, 0.87);

$bright-blue: #0065ff;
$ice-blue: #f3f7ff;
$blue-violet: #6200ee;

$pale-grey: #f3f4f6;
$dark-blue-grey: #1e2c4c;
$steel: #768095;
