$white: #e0e0e0;
$white-two: #ffffff;
$white-three: #f6f6f6;

$black-87: rgba(0, 0, 0, 0.87);

$bright-blue: #0065ff;
$ice-blue: #f3f7ff;
$blue-violet: #6200ee;

$brownish-grey: #616161;
$brownish-grey-two: #666666;
$pale-grey: #f3f4f6;
$dark-blue-grey: #1e2c4c;
$slate-grey: #6b6c6f;
$steel: #768095;
